{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>地图控制</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.minedata.cn//minemapapi/v2.0.0/minemap.css">
    <link rel="stylesheet" href="{% static 'goods/map.css' %}">
    <script src="http://www.minedata.cn//minemapapi/v2.0.0/minemap.js"></script>
    <script src="http://minedata.cn/minemapapi/v2.0.0/plugins/edit/minemap-edit.js"></script>
</head>
<body>
<div class="container-left">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="nav-link" href="../home">首页</a>
        <a class="nav-link active" href="../map">地图</a>
        <a class="nav-link" target="_blank" href="../product">商品</a>
        <a class="nav-link" target="_blank" href="../mine">我的</a>
        <!-- Button trigger modal -->
        <button type="button" id="publish" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="white-space: normal">发布商品</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">发布商品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="../map/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="form-group row">
                                    <lable class="col-3 col-form-label">标题：</lable>
                                    <div class="col-9"><input type="text" name="title" autocomplete="off" class="form-control"></div>
                                </div>
                                <div class="form-group row">
                                    <lable class="col-3 col-form-label">商品描述：</lable>
                                    <div class="col-9"><input type="text" name="description" autocomplete="off" class="form-control"></div>
                                </div>
                                <div class="form-group row">
                                    <lable class="col-3 col-form-label">商品分类：</lable>
                                    <div class="col-9">
                                        <select name="category" class="custom-select">
                                            <option selected>Choose...</option>
                                            <option value="digital">数码</option>
                                            <option value="book">图书</option>
                                            <option value="clothing">服饰鞋包配饰</option>
                                            <option value="instrument_toy">乐器玩具</option>
                                            <option value="toll">配件设备工具</option>
                                            <option value="vehicle_house">车房</option>
                                            <option value="other">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <lable class="col-3 col-form-label">交易类型：</lable>
                                    <div class="col-9">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="large_category" class="custom-control-input" value="租">
                                            <label class="custom-control-label" for="customRadioInline1">租</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="large_category" class="custom-control-input" value="卖">
                                            <label class="custom-control-label" for="customRadioInline2">卖</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline3" name="large_category" class="custom-control-input" value="送">
                                            <label class="custom-control-label" for="customRadioInline3">送</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <lable class="col-3 col-form-label">定价：</lable>
                                    <div class="col-9">
                                        <input type="number" name="price" class="form-control" placeholder="单位：元">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <lable class="col-3 col-form-label">联系电话：</lable>
                                    <div class="col-9">
                                        <input type="tel" name="phone" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <lable class="col-3 col-form-label">地址：</lable>
                                    <div class="input-group col-9 mb-3">
                                        <input type="text" name="address" id="form_input" placeholder="输入位置、公交站、地铁站" class="form-control" autocomplete="off">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" id="search_form" type="button" style="border-top-right-radius: .25rem;border-bottom-right-radius: .25rem">search</button>
                                        </div>
                                        <ul id="input_form_now"></ul>
                                    </div>
                                </div>
                                <div class="form-group row" id="input_file">
                                    <lable class="col-3 col-form-label">上传图片（可选）：</lable>
                                    <div class="col-9">
                                        <div>
                                            <input type="file" class="form-control-file" id="customFile_1" style="display: none" name="img_1">
                                            <i class="iconfont" id="iconfont_file_1">&#xe75a;</i>
                                            <input type="text" name="imgage_1" autocomplete="off" class="image_input form-control" style="display: inline-block;width: auto;">
                                        </div>
                                        <div>
                                            <input type="file" class="form-control-file" id="customFile_2" style="display: none" name="img_2">
                                            <i class="iconfont" id="iconfont_file_2">&#xe75a;</i>
                                            <input type="text" name="imgage_2" autocomplete="off" class="image_input form-control" style="display: inline-block;width: auto;">
                                        </div>
                                        <div>
                                            <input type="file" class="form-control-file" id="customFile_3" style="display: none" name="img_3">
                                            <i class="iconfont" id="iconfont_file_3">&#xe75a;</i>
                                            <input type="text" name="imgage_3" autocomplete="off" class="image_input form-control" style="display: inline-block;width: auto;">
                                        </div>
                                    </div>
                                </div>

                               <div class="form-group row">
                                   <lable class="col-6 col-form-label">在地图上选择地点（可选）：</lable>
                                   <button type="button" id="addPoint" class="btn btn-outline-secondary">选点</button>
                               </div>
                                <div class="form-group row">
                                    <input type="hidden" name="coordinate_x" autocomplete="off"><input type="hidden" name="coordinate_y" autocomplete="off">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="content">
        <section id="search">
            <input type="text" id="searchText" class="input_it" placeholder="搜索位置、公交站、地铁站">
            <i class="search_img" id="searchbtn">
                <img class="img-responsive imgbtn" src="{% static 'goods/images/search.png' %}">
            </i>
            <i class="search_img" id="navarrow">
                <img class="img-responsive imgbtn" src="{% static 'goods/images/level-up.png' %}">
            </i>
        </section>

        <section id="detail">
        </section>

        <section id="navpath" class="line-search-form" style="display: none">
            <div>
                <div class="line-search">
                    <p><span>起点</span><input type="text" id="nav-from" class="input_it" placeholder="请输入起点"></p>
                    <p><span>终点</span><input type="text" id="nav-to" class="input_it" placeholder="请输入终点"></p>
                </div>
                <div class="line-search-exchange">
                    <img src="{% static 'goods/images/exchange-arrows.png' %}" class="img-responsive imgbtn">
                </div>
            </div>
            <div>
                <button id="nav-bus" class="navbtn btn btn-outline-secondary">公交</button>
                <button id="nav-drive" class="navbtn btn btn-outline-secondary">驾车</button>
            </div>
        </section>
        <ul id="input_now"></ul>
    </div>

    <div id="product_list">
        <div class="checkbox_top">
            <label>商品分类：</label>
            <div class="list_cat">
                <a class="checked_a" id="c00" href="javascript:void(0)">全部分类</a>
                <a href="http://127.0.0.1:8000/goods/map/c01" id="c01">数码</a>
                <a href="http://127.0.0.1:8000/goods/map/c02" id="c02">图书</a>
                <a href="http://127.0.0.1:8000/goods/map/c03" id="c03">服鞋包配饰</a>
                <a href="http://127.0.0.1:8000/goods/map/c04" id="c04">乐器玩具</a>
                <a href="http://127.0.0.1:8000/goods/map/c05" id="c05">配件设备工具</a>
                <a href="http://127.0.0.1:8000/goods/map/c06" id="c06">车房</a>
                <a href="http://127.0.0.1:8000/goods/map/c07" id="c07">其他</a>
            </div>
        </div>
        <div class="checkbox_top">
            <label>交易类型：</label>
            <div class="list_cat">
                <a class="checked_a" id="b00" href="javascript:void(0)">全部分类</a>
                <a href="http://127.0.0.1:8000/goods/map/b01" id="b01">租</a>
                <a href="http://127.0.0.1:8000/goods/map/b02" id="b02">卖</a>
                <a href="http://127.0.0.1:8000/goods/map/b03" id="b03">送</a>
            </div>
        </div>

        <div id="goodlist">
            {% if latest_good_list %}
            <ul>
                {% for good in latest_good_list %}
                    <li id={{ good.id }} class="good_list">
                        <div style="cursor: pointer;">
                            <p><span class="good-title">{{ good.title }}</span></p>
                            <p>价格：<span class="price">{{ good.price }}</span>元</p>
                            <p>交易类型：<span class="large-category">{{ good.large_category }}</span></p>
                            <p style="display: none">商品类型：<span class="category">{{ good.category }}</span></p>
                            <p>商品描述：<span class="description">{{ good.description }}</span></p>
                            <p>交易地址：<span class="address">{{ good.address }}</span></p>
                            <p style="display: none"><span class="coordis_x">{{ good.coordinate_x }}</span></p>
                            <p style="display: none"><span class="coordis_y">{{ good.coordinate_y }}</span></p>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="{{ good.img_1.url }}" class="card-img-top" alt="Good image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">上一页</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">下一页</a>
            </li>
          </ul>
        </nav>
    </div>
</div>


<div id="map" class="minemap-map mode-simple_select mouse-none">
    <div id="buttons">
        <button id="show-listings" class="btn btn-primary btn-sm">Show</button>
        <button id="hide-listings" class="btn btn-primary btn-sm">Hide</button>
        <button onclick="toggle(7750)" class="btn btn-warning btn-sm">7750</button>
        <button onclick="toggle(7753)" class="btn btn-warning btn-sm">7753</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'goods/map.js' %}"></script>
</body>
</html>